/* CAMBIO DE FUENTES  */

@font-face {
    font-family: titulos;
    /* src: url(unicode.compacta.ttf); */
    src: url(../Typos/Staatliches-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: resto;
    src: url(../Typos/Micro5-Regular.ttf);

    font-weight: normal;
}


:root {
    --pr-color: rgb(0, 0, 0);
    --text-color-w: rgb(255, 255, 255);
    --accent-color: rgb(0, 255, 34);
} /* variables*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* border: 1px red solid; */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;

    background-image: url(../img/Render_2.webp);
    background-position: center;
    background-attachment: fixed;
}

.wrapper{ /*Poner el wrapper rompe la pagina*/
 
     /*margin: 80px 40px;*/

}

/* Barra de navegación */

header {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
/* Logo */
.logo {
    display: inline-block;
}
.logo > img {
    max-width: 80px;
}
a {
    text-decoration: none;
}
/* Desktop Menu */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
.menu-desktop {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 15px 0;
}
.menu-desktop li a {
    font-size: 1.4rem;
    color: var(--text-color-w);
    transition: 0.3s;
}
.menu-desktop li a:hover {
    font-size: 1.4rem;
    color: red;
    transition: 0.3s;
}
/* Nav menu */
.nav-mobile {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 80px; /* Adjusted to fit below header */
    left: 0;
    z-index: 9999;
    background-color: var(--pr-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}
.menu-mobile {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 75px; /* Adjusted to fit below header center*/
}
.menu-mobile a {
    font-size: 2rem;
    display: block;
    padding: 30px;
    color: var(--text-color-w);
    transition: 0.3s;
}
.menu-mobile a:hover {
    transform: scale(1.1);
    color: red;
}
/* Menu Icon */
.hamb {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
.side-menu {
    display: none;
} /* Hide checkbox */
.hamb > .fa-times {
    display: none;
}
/* Show menu when checked */
/* Toggle menu icon */
.side-menu:checked ~ .nav-mobile {
    max-height: 100%;
}

.side-menu:checked ~ .hamb > .fa-bars {
    display: none;
}
.side-menu:checked ~ .hamb > .fa-times {
    display: block;
}

/* CONTENIDO DE LA PÁGINA */
/* Aqui poned vuestras partes */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    background-image: url(../img/Render_2.webp);
    background-position: center;
    background-attachment: fixed;
}

#header2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main > #header2 > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 40px;
}

h1{
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
    
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    line-height: 30px;
    color: azure;
    text-align: center;
    
}

p {
    text-align: center;
    color: azure;
    max-width: 500px;
    text-align: center;
    /* margin-top: 4rem; */
}

#header2 > div:last-child{
    align-items: center;
    gap: 25px;
    font-size: 18px;
}

/* NOSOTROS */

.fondo_us {
    background-image: url('../img/Habitacion_2.PNG'); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: auto; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina cualquier margen por defecto */
}

.contenedor_us {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    height: auto;
    gap: 40px;
    justify-content: center;
    padding: 40px;
    /* align-items: flex-start; */
}

.contenedor_us > section {
    background-color: rgb(131, 0, 0);
    border-radius: 20px;
    padding: 20px;
    max-width: 300px;
    transition: transform 0.3s;
}

.image_n > a {
    font-family: 'resto', Arial, sans-serif; /* Fuentes de respaldo si la otra no es compatible*/
    font-size: 26px;
    color: crimson;
}

.Producer img {
    width: 100%;
    max-width: 250px;
    height: auto;
}


.header_us > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    width: 100%;
    padding: 40px;
    border-radius: 50%;
}

#usbody {
    background-image: url('../img/Habitacion_2.PNG'); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: auto; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina cualquier margen por defecto */

    color: azure;
    font-family: 'resto', Arial, sans-serif;
}

#usbody > img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
    transition: all 0.3s;
}

#usbody > div {
    flex-direction: row;
}

.rojo {
    color: rgb(199, 1, 1);
    font-size: 60px;
    font-weight: bold;
}

.titulo h1 {
    text-align: center;
    font-family: 'titulos';
    margin-bottom: 30px;
}

.titulo > a{
    width: 10%;
    max-width: 145px;
    min-width: 100px;
    height: auto;
  }

.blanco {
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
}


#usbody p {
    font-family: 'resto', Arial, sans-serif;
    font-size: 36px;
    color: whitesmoke;
}

#usbody .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    padding: 40px;
    align-items: flex-start;
}

#usbody .wrapper > section {
    background-color: rgb(131, 0, 0);
    height: auto;
    border-radius: 20px;
    padding: 20px;
    max-width: 300px;
    transition: transform 0.3s;
}

#usbody img:hover {
    border: 5px solid #100e14;
}

/* Estilo uniforme para todas las imágenes de perfiles */
.profile-img {
    width: 100%;

    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s;
}

/* Efecto hover opcional */
.profile-img:hover {
    border: 5px solid #100e14;
}

/* Contenedor de cada perfil */
.image_n {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* Texto debajo de la imagen */
.image_n > a {
    font-family: 'resto', Arial, sans-serif;
    font-size: 26px;
    color: crimson;
    text-align: center;
}

/* PRODUCTOS */
#Juan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 80px 20px;
}
#titulo_Products {
    display: flex;
    max-width: 200px;
    padding: 30px 20px;
}
#titulo_Products > h1 {
    text-align: left;
}
#titulo_Products > h1 > span{
    color: red;
}

#Products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 20px;
}

.f-rowp {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 20px;
    gap: 30px;
}
.f-rowp > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    
}
.f-rowp > div > h2{
    font-size: 40px;
    line-height: 110%;
}

.f-rowp > div > p{
    text-align: left;
}

.f-rowp > div > img {
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
/* NO CAMBIAR JUNTO CON EL MENÚ HAMBUIRGUESA */
footer {
    background-color: #333;
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
footer > .f-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
footer > .f-row > .social-icons{
    padding: 10px 0;
    display: flex;
    gap: 24px;
    font-size: 24px;
    transition: 500ms;
}

footer > .f-row > .social-icons > a{
    color: azure;
    transition: 500ms;
}
footer > .f-row > .social-icons > a:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.1)
}
footer > .f-row > .copyright {
    display: flex;
    align-items: center;
}
.menu-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 15px 0;
}
.menu-footer li a {
    font-size: 1.4rem;
    color: var(--text-color-w);
    transition: 0.3s;
}
.menu-footer li a:hover {
    font-size: 1.4rem;
    color: red;
    transition: 0.3s;
}
.copyright > p{
    color: azure;
    padding: 0 0;
}

/* BOTONES */

/* propiedades counes a los dos botones */
div > .btn-group {
    display: flex;
    gap: 20px;
}
.btn-group > a {
    padding: 8px 20px;
    font-weight: bold;       
    border-radius: 8px;
    font-size: 15px;
    transition: 500ms;
}

.btn-group > a:first-child {
    
    background-color: rgb(134, 24, 24);
    color: aliceblue;
}

.btn-group > a:last-child {
   border: 2px aliceblue solid;
   color: azure;
}

/* EFECTO HOOVER SOBRE LOS BOTONES */

.btn-group > a:first-child:hover{
    background-color: rgb(255, 0, 0);
}

.btn-group > a:last-child:hover{
    background-color: rgb(33, 33, 33);
    color: aliceblue;
}


/* Media QUERY */
/* Tamaño mid */
@media (max-width: 768px) {
    

    .f-row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        gap: 15px;
    }

    .menu-footer{
        padding: 5px 10px;
    }
    footer{
        padding: 10px 35px;
    }
    #titulo_Products {
            padding: 0 2px;
        }
        #titulo_Products > h1 {
            font-size: 70px;
        }

        #Products {
            padding: 1px 1px;
        }
        .f-rowp > div > h2 {
            font-size: 30px
        }

        /* PARTE DEL CSS NOSOTROS/US */

        .Logo_Tricot {

            width: 100%;
            max-width: 125px;
            height: auto;
}
#header2 > div > h1 {
            font-size: 50px;
        }

        #header2 > div > h2 {
            font-size: 30px;
        }
        #header2 > div > p {
            font-size: 18px;
        }
}
/* Tamaño Pequeño */
@media (max-width: 500px) {

        .nav-desktop {
        display: none;
        }

        .hamb {
            display: block;
        }
        footer{
            padding: 20px 5px;
        }
        .nav-mobile {
            display: block;
        }
    
        .titulo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: 100%;
            padding: 15px  15px;
        }

        .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .menu-footer{
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 0;
            gap: 2rem;
        }
        div > .btn-group{
            gap: 5px;
            flex-wrap: wrap;
            padding: 2px 5px;
            flex-direction: column;
            text-align: center;
        }
        .f-row{
            justify-content: center;
            padding: 0 0;
        }
        h1{
            padding: 10px 10px;
        }
        h2{
            padding: 10px 10px;
        }
        p{
            padding: 50 0;
        }

        #titulo_Products {
            justify-content: center;
            min-width: 180px;
            padding: 0 2px;
        }
        #titulo_Products > h1 {
            padding: 10px 5px;
            font-size: 40px;
        }

        #Products {
            padding: 1px 1px;
        }
        .f-rowp > div > h2 {
            font-size: 30px
        }
        .f-rowp > div > p {
            text-align: center;
        }

        .f-rowp > div  {
            justify-content: center;
            min-height: 60px;
        }


        #header2 > div:first-child {
            padding: 0 0;
        }
    }
        #header2 > div:last-child {
            padding: 0 0;
        }
        #header2 > div > h1 {
            font-size: 30px;
        }

        #header2 > div > h2 {
            font-size: 20px;
        }
        #header2 > div > p {
            font-size: 18px;
        }

        /* PARTE DEL CSS NOSOTROS/US */

        .Logo_Tricot {

             width: 75%;
            max-width: 116px;
            height: auto;
}

