:root {
    --pr-color: rgb(0, 0, 0);
    --text-color-w: rgb(255, 255, 255);
    --accent-color: rgb(0, 255, 34);
} 
/* Selector Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #00ff4c;
}
/* variables*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación */

header {
    background-color: var(--pr-color);
    color: var(--text-color-w);
    text-align: center;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Logo */
.logo {
    display: inline-block;
}
.logo > img {
    max-width: 80px;
}
a {
    text-decoration: none;
}
/* Desktop Menu */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
.menu-desktop {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 15px 0;
}
.menu-desktop li a {
    font-size: 1.4rem;
    color: var(--text-color-w);
    transition: 0.3s;
}
.menu-desktop li a:hover {
    font-size: 1.4rem;
    color: red;
    transition: 0.3s;
}
/* Nav menu */
.nav-mobile {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 80px; /* Adjusted to fit below header */
    left: 0;
    z-index: 9999;
    background-color: var(--pr-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}
.menu-mobile {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 75px; /* Adjusted to fit below header center*/
}
.menu-mobile a {
    font-size: 2rem;
    display: block;
    padding: 30px;
    color: var(--text-color-w);
    transition: 0.3s;
}
.menu-mobile a:hover {
    transform: scale(1.1);
    color: red;
}
/* Menu Icon */
.hamb {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
.side-menu {
    display: none;
} /* Hide checkbox */
.hamb > .fa-times {
    display: none;
}
/* Show menu when checked */
/* Toggle menu icon */
.side-menu:checked ~ .nav-mobile {
    max-height: 100%;
}

.side-menu:checked ~ .hamb > .fa-bars {
    display: none;
}
.side-menu:checked ~ .hamb > .fa-times {
    display: block;
}

/* CONTENIDO DE LA PÁGINA */
/* Aqui poned vuestras partes */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    background-image: url(../img/Render_2.webp);
    background-position: center;
    background-attachment: fixed;
}

main > #header2 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* FOOTER */
/* NO CAMBIAR JUNTO CON EL MENÚ HAMBUIRGUESA */
footer {
    background-color: #333;
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
footer > .f-row {
    display: flex;
    justify-content: space-between;
}
footer > .f-row > .social-icons{
    padding: 10px 0;
    display: flex;
    gap: 24px;
    font-size: 24px;
    transition: 500ms;
}

footer > .f-row > .social-icons > a{
    color: azure;
    transition: 500ms;
}
footer > .f-row > .social-icons > a:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.1)
}
footer > .f-row > .copyright {
    display: flex;
    align-items: center;
}
.menu-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 15px 0;
}
.menu-footer li a {
    font-size: 1.4rem;
    color: var(--text-color-w);
    transition: 0.3s;
}
.menu-footer li a:hover {
    font-size: 1.4rem;
    color: red;
    transition: 0.3s;
}

/* BOTONES */

/* propiedades counes a los dos botones */
div > .btn-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btn-group > a {
    display: flex;
    padding: 8px 20px;
    font-weight: bold;       
    border-radius: 8px;
    font-size: 15px;
    transition: 500ms;
}

.btn-group > a:first-child {
    
    background-color: rgb(134, 24, 24);
    color: aliceblue;
}

.btn-group > a:last-child {
   border: 2px aliceblue solid;
   color: azure;
}

/* EFECTO HOOVER SOBRE LOS BOTONES */

.btn-group > a:first-child:hover{
    background-color: rgb(255, 0, 0);
}

.btn-group > a:last-child:hover{
    background-color: rgb(33, 33, 33);
    color: aliceblue;
}


/* Media QUERY */
/* Tamaño mid */
@media (max-width: 868px) {
    

    .f-row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        gap: 15px;
    }
    .menu-footer{
        padding: 5px 10px;
    }
    footer{
        padding: 10px 35px;
    }
    }
/* Tamaño Pequeño */
@media (max-width: 500px) {
        .nav-desktop {
        display: none;
        }

        .hamb {
            display: block;
        }
        footer{
            padding: 20px 5px;
        }
        .nav-mobile {
            display: block;
        }

        .titulo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: 100%;
            padding: 15px  15px;
        }

        .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .menu-footer{
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 0;
            gap: 2rem;
        }
        div > .btn-group{
            gap: 5px;
            flex-wrap: wrap;
            padding: 2px 5px;
            flex-direction: column;
            text-align: center;
        }
        .f-row{
            justify-content: center;
            padding: 0 0;
        }
        h1{
            padding: 0 0;
        }
        h2{
            padding: 0 0;
        }
        p{
            padding: 50px 0;
        }
}